{% load static %}

{% include 'base/header.html' %}
<title>LanceIndia-Home</title>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
     <div class="container" data-aos="fade-up">

       <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
         <div class="col-xl-6 col-lg-8">
           <h1>Lance India</h1>
           <h2>we make IT happen!</h2><br><br><br>
           <a href="#services" class="get-started-btn scrollto">Explore Us</a>
           <!-- <h2>we make IT happen!</h2> -->
           <!-- <a class="cta-btn" href="#">Explore Us</a> -->

         </div>
       </div>

       <!-- <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
         <div class="col-xl-2 col-md-4 col-6">
           <div class="icon-box">
             <i class="ri-store-line"></i>
             <h3><a href="">Lorem Ipsum</a></h3>
           </div>
         </div>
         <div class="col-xl-2 col-md-4 col-6 ">
           <div class="icon-box">
             <i class="ri-bar-chart-box-line"></i>
             <h3><a href="">Dolor Sitema</a></h3>
           </div>
         </div>
         <div class="col-xl-2 col-md-4 col-6 mt-4 mt-md-0">
           <div class="icon-box">
             <i class="ri-calendar-todo-line"></i>
             <h3><a href="">Sedare Perspiciatis</a></h3>
           </div>
         </div>
         <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
           <div class="icon-box">
             <i class="ri-paint-brush-line"></i>
             <h3><a href="">Magni Dolores</a></h3>
           </div>
         </div>
         <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
           <div class="icon-box">
             <i class="ri-database-2-line"></i>
             <h3><a href="">Nemos Enimade</a></h3>
           </div>
         </div>
       </div>

     </div> -->
   </section><!-- End Hero -->

   <main id="main">

     <!-- ======= About Section ======= -->
     <section id="about" class="about">
       <div class="container" data-aos="fade-up">

         <div class="row">
           <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
             <img src="{% static 'assets/img/home-image.png' %}" class="img-fluid" alt="">
           </div>
           <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
             <h3>About US</h3>
             <p class="font-italic">

            <p>Lance India is a young start-up founded by engineering students with the moto of providing wide range of services at lowest cost possible. We at Lance India are committed to help our clients reach their goals, to personalize their experience, to provide services at its best and to make a difference.
             </p>
             <p>We at Lance India  deliver a wide range of servics in the field of Cyber Solutions, Tax Consultancy, Digital Marketing, Bussiness Analysis, Content Writing and many more </p>
          <p>
             <ul>
               <li><i class="ri-check-double-line"></i>From making Dynamic websites to Advance Apps..</li>
               <li><i class="ri-check-double-line"></i> Finalcial and Bussiness Soluitions for Tax..</li>
               <li><i class="ri-check-double-line"></i> From copytyping to content writing, We offer everything..</li>
             </ul>
             <!-- <p>
               Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
               velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
             </p> -->
           </div>
         </div>

       </div>
     </section><!-- End About Section -->

     <!-- ======= Clients Section ======= -->
     <section id="clients" class="clients">
       <div class="container" data-aos="zoom-in">

         <div class="owl-carousel clients-carousel">
           <img src="{% static 'assets/img/clients/client-1.png' %}" alt="">
          <img src="{% static 'assets/img/clients/client-2.png' %}" alt="">
          <img src="{% static 'assets/img/clients/client-3.png' %}" alt="">
          <img src="{% static 'assets/img/clients/client-4.png' %}" alt="">
          <img src="{% static 'assets/img/clients/client-5.png' %}" alt="">
          <img src="{% static 'assets/img/clients/client-6.png' %}" alt="">
          <img src="{% static 'assets/img/clients/client-7.png' %}" alt="">
          <img src="{% static 'assets/img/clients/client-8.png' %}" alt="">
         </div>

       </div>
     </section><!-- End Clients Section -->

     <!-- ======= Features Section ======= -->
     <section id="features" class="features">

       <div class="container" data-aos="fade-up">
 <h2 style="text-align:center" > <strong>Our Core <em>Freatures</em></strong></h2><br><br>
         <div class="row">

           <div class="image col-lg-6" style='background-image: url("{% static 'assets/img/coree.png' %}");' data-aos="fade-right"></div>

           <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">

             <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">

               <i class="bx bx-receipt"></i>

               <h4>Innovative & Creative Approach</h4>
               <p>We have designed a comprehensive approach, which is aligned to the needs of our clien</p>
             </div>
             <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
               <i class="bx bx-cube-alt"></i>
               <h4>Readily Available</h4>
               <p>If our client is in need or distress we are always available like a back-bone
             to our connections in the thickest and thins of any situation.</p>
             </div>
             <!-- <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
               <i class="bx bx-images"></i>
               <h4>Aut occaecati</h4>
               <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
             </div> -->
             <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
               <i class="bx bx-shield"></i>
               <h4>Relationship-Oriented</h4>
                               <p>We believe in growing stronger and moving forward with our community with each higher step that
               we take towards our mutual goals.</p>
             </div>
           </div>
         </div>

       </div>
     </section><!-- End Features Section -->

     <!-- ======= Services Section ======= -->
     <section id="services" class="services">
       <div class="container" data-aos="fade-up">

         <div class="section-title">
           <h2>Services</h2>
           <p style="color: grey">Check our Services</p>
         </div>

         <div class="row">
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
             <div class="icon-box">
               <div class="icon"><i class="bx bx-world"></i></div>
               <h4><a href="">Web Development</a></h4>
               <p>We are pioneer in developing SEO Websites, Website Designing, and Website maintainence. From static to most advance dynamic websites, We have solutions for all your needs.</p>

             </div>
           </div>

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
             <div class="icon-box">
               <div class="icon"> <img src="{% static 'assets/img/appdev.png' %}" alt=""> </div>
               <h4><a href="">App Development</a></h4>
               <p>Lance India helps you to bring your business/store on mobile, with its fully customizable mobile application for both Android and iOS platforms to increase the reach of your store. </p>

             </div>
           </div>

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
             <div class="icon-box">
               <div class="icon"><img src="{% static 'assets/img/taxcon.png' %}" alt=""></div>
               <h4><a href="">Tax Consultancy</a></h4>
               <p>We, at Lance India offer a full range of accounting and Tax related services. like Bookkeeping, GST, TDS Return, Tax Refunds, etc. </p>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
             <div class="icon-box">
               <div class="icon"><i class="bx bxl-dribbble" ></i></div>
               <h4><a href="">Graphic Design</a></h4>
               <p>A highly efficient team of creative designers and work closely with the respective clients. Results in building the best credible potential product to yield maximum profits.</p>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
             <div class="icon-box">
               <div class="icon"><i class="bx bx-slideshow"></i></div>
               <h4><a href="">Photo/Video Editing</a></h4>
               <p>With highly skilled editors, We can take your photos/videos to whole next level. Contact for turning your random snaps/clips into unforgettable memories. </p>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
             <div class="icon-box">
               <div class="icon"> <img src="{% static 'assets/img/pen11.png' %}" alt=""></div>
               <h4><a href="">Content Writing</a></h4>
               <p>We at lance India deliver a wide range of content writing related services. Contact us for Website Content, Article Writing, Ghost Writing and many more.. </p>
             </div>
           </div>
           <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
             <div class="icon-box">
               <div class="icon"><i class="bx bx-arch"></i></div>
               <h4><a href="">Graphic Design</a></h4>
               <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
             <div class="icon-box">
               <div class="icon"><i class="bx bx-arch"></i></div>
               <h4><a href="">Content Writing</a></h4>
               <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
             </div>
           </div>
           <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
             <div class="icon-box">
               <div class="icon"><i class="bx bx-arch"></i></div>
               <h4><a href="">Bussiness Analysis </a></h4>
               <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
             </div>
           </div>

         </div> -->

       </div>
     </section><!-- End Services Section -->

     <!-- ======= Cta Section ======= -->
     <section id="cta" class="cta">
       <div class="container" data-aos="zoom-in">

         <div class="text-center">
           <h3>Be bold. Don’t wait. Go ahead.</h3>
           <p> Call On +91 88244 33104 and create your opportunity NOW!!!.</p>
           <a class="cta-btn" href="tel:+918824433104">Call To Action</a>
         </div>

       </div>
     </section><!-- End Cta Section -->

     <!-- ======= Portfolio Section ======= -->
     <section id="portfolio" class="portfolio">
       <div class="container" data-aos="fade-up">

         <div class="section-title">
           <h2>Portfolio</h2>
         </div>

         <div class="row" data-aos="fade-up" data-aos-delay="100">
           <div class="col-lg-12 d-flex justify-content-center">
             <ul id="portfolio-flters">
               <li data-filter="*" class="filter-active"  style="color:white" >All</li>
               <li data-filter=".filter-app" style="color:white" >App</li>
               <li data-filter=".filter-card" style="color:white" >Card</li>
               <li data-filter=".filter-web" style="color:white" >Web</li>
             </ul>
           </div>
         </div>

         <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

           <div class="col-lg-4 col-md-6 portfolio-item filter-app">
             <div class="portfolio-wrap">
               <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
               <div class="portfolio-info">
                 <h4>App 1</h4>
                 <p>this is a flutter app hugwewafiygwaeyf</p>
                 <div class="portfolio-links">
                   <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-web">
             <div class="portfolio-wrap">
               <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
               <div class="portfolio-info">
                 <h4>Web 3</h4>
                 <p>Web</p>
                 <div class="portfolio-links">
                   <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-app">
             <div class="portfolio-wrap">
               <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
               <div class="portfolio-info">
                 <h4>App 2</h4>
                 <p>App</p>
                 <div class="portfolio-links">
                   <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-card">
             <div class="portfolio-wrap">
               <img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
               <div class="portfolio-info">
                 <h4>Card 2</h4>
                 <p>Card</p>
                 <div class="portfolio-links">
                   <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-web">
             <div class="portfolio-wrap">
               <img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
               <div class="portfolio-info">
                 <h4>Web 2</h4>
                 <p>Web</p>
                 <div class="portfolio-links">
                   <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-app">
             <div class="portfolio-wrap">
               <img src="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
               <div class="portfolio-info">
                 <h4>App 3</h4>
                 <p>App</p>
                 <div class="portfolio-links">
                   <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-card">
             <div class="portfolio-wrap">
               <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
               <div class="portfolio-info">
                 <h4>Card 1</h4>
                 <p>Card</p>
                 <div class="portfolio-links">
                   <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-card">
             <div class="portfolio-wrap">
               <img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
               <div class="portfolio-info">
                 <h4>Card 3</h4>
                 <p>Card</p>
                 <div class="portfolio-links">
                   <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-web">
             <div class="portfolio-wrap">
               <img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
               <div class="portfolio-info">
                 <h4>Web 3</h4>
                 <p>Web</p>
                 <div class="portfolio-links">
                   <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                   <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                 </div>
               </div>
             </div>
           </div>

         </div>

       </div>
     </section><!-- End Portfolio Section -->

     <!-- ======= Counts Section ======= -->
   <!-- End Counts Section -->
   <h1 style="text-align:center;">Why Choose Us?</h1>
   <section class="blog-area section-gap">
     <div class="container">
  <div class="row">
         <!-- Boxes de Acoes -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"> <img src="{% static 'assets/img/satis.png' %}" alt=""> </div>
          <div class="info">
             <br>
            <h3 class="title">Affordable Packages</h3>
            <p>
          We understand that every customer is different and we take this into account when each new customer comes on board, tailor making our packages where necessary to suit your needs. Our prices are affordable and our work is always carried out to a high quality standard.
            </p>
            <div class="more">
              <a href="tel:+918824433104" title="Title Link">
                Know More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

         <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><img src="{% static 'assets/img/money.png' %}" alt=""></div>
          <div class="info"><br>
            <h3 class="title">100% Satisfaction Guarenteed</h3>
              <p>We want you to be completely satisfied with our services.We dont ask for full payment untill you are satisfied with our work. We will do whatever it takes to make you happy. No hassles, no problems.</p><br><br>
            <div class="more">
              <a href="tel:+918824433104" title="Title Link">
                Know More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

         <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"> <img src="{% static 'assets/img/time4.png' %}" alt=""></div>
          <div class="info"><br>
            <h3 class="title">Quick Response</h3>
              <p>The phrase “time is money” is as true today as it has always been.We know how valuable your time is and that when you have an idea or question you need to hear from us. We will respond to all requests, queries or actions each and every time.</p><br>
            <div class="more">
              <a href="tel:+918824433104" title="Title Link">
                Know More <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
    <!-- /Boxes de Acoes -->
  </div>
 </div>

      <!-- <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Our Service <span></span></p>
              <h2>Why Choose Us? </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/affordable.png' %}" alt="">
              <h4>Affordable Packages</h4>
              <p>We understand that every customer is different and we take this into account when each new customer comes on board, tailor making our packages where necessary to suit your needs. Our prices are affordable and our work is always carried out to a high quality standard.</p>

              <a href="#" class="primary_btn2 mt-35">Learn More</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="assets/img/satisfied.png" alt="">
              <h4>100% Satisfaction Guarenteed</h4>
              <p>We want you to be completely satisfied with our services. We will do whatever it takes to make you happy. No hassles, no problems.</p><br>

              <a href="#" class="primary_btn2 mt-35">Learn More</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/time3.png' %}" alt="">
              <h4>Quick Response</h4>
              <p>The phrase “time is money” is as true today as it has always been.We know how valuable your time is and that when you have an idea or question you need to hear from us. We will respond to all requests, queries or actions each and every time.</p>
              <a href="#" class="primary_btn2 mt-35">Learn More</a>
            </div>
          </div>
        </div>
      </div> -->
           <h2  style="text-align:center;" >What they say about us?</h2>
    </section>

     <!-- ======= Testimonials Section ======= -->
     <section id="testimonials" class="testimonials">
       <div class="container" data-aos="zoom-in">

         <div class="owl-carousel testimonials-carousel">

           <div class="testimonial-item">
             <img src="{% static 'assets/img/testimonials/review1.jpg' %}" class="testimonial-img" alt="">
             <h3>Sateesh Giri</h3>
             <h4>Founder, Taxamigo</h4>
             <p>
               <i class="bx bxs-quote-alt-left quote-icon-left"></i>
               Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
               <i class="bx bxs-quote-alt-right quote-icon-right"></i>
             </p>
           </div>

           <div class="testimonial-item">
             <img src="{% static 'assets/img/testimonials/review2.jpg' %}" class="testimonial-img" alt="">
             <h3>Anish Ahmad</h3>
             <h4>Co-Founder, Speak Up Mithili </h4>
             <p>
               <i class="bx bxs-quote-alt-left quote-icon-left"></i>
               Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
               <i class="bx bxs-quote-alt-right quote-icon-right"></i>
             </p>
           </div>

           <div class="testimonial-item">
             <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
             <h3>Jena Karlis</h3>
             <h4>Store Owner</h4>
             <p>
               <i class="bx bxs-quote-alt-left quote-icon-left"></i>
               Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
               <i class="bx bxs-quote-alt-right quote-icon-right"></i>
             </p>
           </div>





         </div>

       </div>
     </section><!-- End Testimonials Section -->

     <!-- ======= Team Section ======= -->
     <!-- <section id="team" class="team">
       <div class="container" data-aos="fade-up">

         <div class="section-title">
           <h2>Team</h2>
           <p>Check our Team</p>
         </div>

         <div class="row">

           <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
             <div class="member" data-aos="fade-up" data-aos-delay="100">
               <div class="member-img">
                 <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                 <div class="social">
                   <a href=""><i class="icofont-twitter"></i></a>
                   <a href=""><i class="icofont-facebook"></i></a>
                   <a href=""><i class="icofont-instagram"></i></a>
                   <a href=""><i class="icofont-linkedin"></i></a>
                 </div>
               </div>
               <div class="member-info">
                 <h4>Walter White</h4>
                 <span>Chief Executive Officer</span>
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
             <div class="member" data-aos="fade-up" data-aos-delay="200">
               <div class="member-img">
                 <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                 <div class="social">
                   <a href=""><i class="icofont-twitter"></i></a>
                   <a href=""><i class="icofont-facebook"></i></a>
                   <a href=""><i class="icofont-instagram"></i></a>
                   <a href=""><i class="icofont-linkedin"></i></a>
                 </div>
               </div>
               <div class="member-info">
                 <h4>Sarah Jhonson</h4>
                 <span>Product Manager</span>
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
             <div class="member" data-aos="fade-up" data-aos-delay="300">
               <div class="member-img">
                 <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                 <div class="social">
                   <a href=""><i class="icofont-twitter"></i></a>
                   <a href=""><i class="icofont-facebook"></i></a>
                   <a href=""><i class="icofont-instagram"></i></a>
                   <a href=""><i class="icofont-linkedin"></i></a>
                 </div>
               </div>
               <div class="member-info">
                 <h4>William Anderson</h4>
                 <span>CTO</span>
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
             <div class="member" data-aos="fade-up" data-aos-delay="400">
               <div class="member-img">
                 <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                 <div class="social">
                   <a href=""><i class="icofont-twitter"></i></a>
                   <a href=""><i class="icofont-facebook"></i></a>
                   <a href=""><i class="icofont-instagram"></i></a>
                   <a href=""><i class="icofont-linkedin"></i></a>
                 </div>
               </div>
               <div class="member-info">
                 <h4>Amanda Jepson</h4>
                 <span>Accountant</span>
               </div>
             </div>
           </div>

         </div>

       </div>
     </section><!-- End Team Section --> -->

     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
       <div class="container" data-aos="fade-up">

         <div class="section-title">
           <h2>Contact</h2>
           <p style="color: grey">Get in Touch</p>
         </div>

         <div>
           <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.193124095622!2d86.06493191435291!3d26.352614890322133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39edcd3a4e15baef%3A0xc8219c2f27975349!2sStadium%20Rd%2C%20Bara%20Bazar%2C%20Madhubani%2C%20Bihar%20847211!5e0!3m2!1sen!2sin!4v1591948455315!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
         </div>

         <div class="row mt-5">

           <div class="col-lg-4">
             <div class="info">
               <div class="address">
                 <i class="icofont-google-map"></i>
                 <h4>Locate Us:</h4>
                 <p>Corporate - BD110, Action Area-1, Newtown, Kolkata-7000156</p><br>
                 <p>Registered - Stadium Road, Madhunbani, Bihar- 847211</p>
               </div>

               <div class="email">
                 <i class="icofont-envelope"></i>
                 <h4>Email:</h4>
                 <p><a href="work4lanceindia@gmail.com">work4lanceindia@gmail.com</a></p>
               </div>

               <div class="phone">
                 <i class="icofont-phone"></i>
                 <h4>Call/Whats App:</h4>
                 <p><a  href="tel:+918824433104">   +91 88244 33104</a></p>
                 <p><a  href="tel:+91 79806 66539">   +91 79806 66539</a></p>
                 <p><a  href="tel:+918809710044">   +91 88097 10044</a></p>
               </div>

             </div>

           </div>

           <div class="col-lg-8 mt-5 mt-lg-0">
             <h2>We'd love to talk with you</h2>
             <h4>Brief us your requirements below, and let's connect</h4><br>
                  <form action=""  method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
                    </form>
               {% comment %} <div class="form-row">
                 <div class="col-md-6 form-group" >
                   <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                   <div class="validate"></div>
                 </div>
                 <div class="col-md-6 form-group">
                   <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                   <div class="validate"></div>
                 </div>
               </div>
               <div class="form-group">
                 <!-- <input type="tel" class="form-control" id="phone" name="phonr" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">  -->
                 <input type="tel" class="form-control" name="Contact_Number" id="subject" placeholder="Phone Number" data-rule="minlen:4" data-msg="Only in digits" />
                 <div class="validate"></div>
               </div>
               <div class="form-group">
                 <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                 <div class="validate"></div>
               </div>
               <div class="mb-3">
                 <div class="loading">Loading</div>
                 <div class="error-message"></div>
                 <div class="sent-message">Your message has been sent. Thank you!</div>
               </div> {% endcomment %}
               

           </div>

         </div>

       </div>
     </section><!-- End Contact Section -->

   </main><!-- End #main -->

{% include 'base/footer.html' %}
