{% load static %}

{% include 'base/header.html' %}
<title>Lance India-Services</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap" rel="stylesheet">

<body>

<section class="section-services">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-10 col-lg-8">
        <div class="header-section">
          <h2 class="title">Exclusive <span>Services</span></h2>
          <p class="description">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some injected humour</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-500px"></i>
            <h3 class="title">Website Development</h3>
          </div>
          <div class="part-2">
            <p class="description">Don’t have website or unhappy with existing website!

Don’t worry, We will solve your problem by designing your fully mobile responsive website to stand-alone in the race.</p>
<ul>
<li>Static Websites starting from 1499 INR</li>
<li>Dynamic Websites starting from 2000 INR </li>
<li>E-commerce Websites starting from 3000 INR</li>
</ul>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-angellist"></i>
            <h3 class="title">ios and Android Development</h3>
          </div>
          <div class="part-2">
            <p class="description">We deliver promising, user-friendly, sophisticated and reliable apps. Lance India also provides a detailed admin back-end for store owners and store managers to manage different aspects of your mobile store like adding new products, managing prices, and sending offers.</p>
            <ul>
            <li>Post customer services are practiced diligently.</li>
            <li>Starting from 4999 INR only </li>

            </ul>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fas fa-award"></i>
            <h3 class="title">Tax Consultancy</h3>
          </div>
          <div class="part-2">
            <p class="description">Our accounting and consultancy firm has more than 6 years of experience in providing a comprehensive range of business advisory services across India.</p>
            <ul>
            <li>Income Tax, G.S.T, PF, TDS Return, Auditing and Assurance, Income Tax Scrutiny Matters</li>
            <li>Food License, Trade Mark Registration, Export Import Liscence, Establishment Liscence</li>

            </ul>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-asymmetrik"></i>
            <h3 class="title">Graphic Designing</h3>
          </div>
          <div class="part-2">
            <p class="description">Our highly creative team of designers always excels in creating unique brand identity and out of the box designes that speaks on its own! </p>
            <ul>
            <li>Logo and brand identity</li>
            <li>Vector Illustrations</li>
            <li>Package Design</li>
            <li>Print Designe</li>
            </ul>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fas fa-broadcast-tower"></i>
            <h3 class="title">Video Production / Editing</h3>
          </div>
          <div class="part-2">
            <p class="description">We create awesome explainer videos of all types, that'd improve your brand story telling & user engagement which results in higher conversions.</p>
            <ul>
              <li>Photo Editing, YouTube Thumbnail</li>
              <li>YouTube Video Editing / Creation</li>
              <li>Convert your random camera caotures into masterpiece</li>
            </ul>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
      <!-- Start Single Service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="part-1">
            <i class="fab fa-canadian-maple-leaf"></i>
            <h3 class="title">Writing and Other Services</h3>
          </div>
          <div class="part-2">
            <p class="description">We have most creative and experienced writers in our team provideing various writing related services.</p>
            <ul>
              <li>Website content, Ghost Writing</li>
              <li>CV / Resume by experts</li>
              <li>Professional Presentation</li>
              <li>Copytyping, Sketches, etc.</li>
            </ul>
            <a href="#"><i class="fas fa-arrow-circle-right"></i>Read More</a>
          </div>
        </div>
      </div>
      <!-- / End Single Service -->
    </div>
  </div>
</section>

</body>

{% include 'base/footer.html' %}
